#HomeContainer{
    display:grid;
    grid-template-columns:1fr 5fr;
    margin:0px;
    padding:0px;
    height:100vh;
    
}

.homeWelcomeContainer{
    display:flex;
    align-items: center;
    height:100vh;
    padding-left:100px;
    font-size:x-large;
   
}